@font-face {
    font-family: montserrat;
    src: url(../montserrat/Montserrat-Regular.otf);
}
* {
    box-sizing: border-box;
    font-family: "montserrat" !important;
}


.navbar-nav {
    margin: 0 auto !important;
}


#header {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-weight: 630;
    font-size: 16px;
    text-align: center;
    color: #770770;
    display: inline-block;
    margin: 0 10px;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    margin-top:5px;
    
}



.navbar-brand:hover {
    border: unset;
}

.signed {
    border: 1px solid #fba11a !important;
    background: none !important;
    
    font-size: 14px !important;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px !important;
    transition: 0.8s !important;
    position: relative;
    overflow: hidden;
    color: #fba11a !important;
}

.created {
    border: 1px solid #770770 !important;
    background:none !important;
    font-size: 14px !important;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px !important;
    transition: 0.8s !important;
    position: relative;
    overflow: hidden;
}

.create {
    color: #fff !important;
}

.signin:hover {
    color: #fff !important;
}

.create:hover {
    color: #770770 !important;
}

a{
    font-size:14px !important;
    text-decoration:none !important;
    height:100%
}

a:link,
a:visited {
    color: #770770;
}

.signed::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #fba11a !important;
    z-index: -1;
    transition: 0.8s;
}

.created::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #770770 !important;
    z-index: -1;
    transition: 0.8s;
}

.signin::before {
    top: 0;
    border-radius: 0 0 50% 50%;
}

.create::before {
    bottom: 0;
    border-radius: 50% 50% 0 0;
}
.create::before {
    height: 180%;
}

.signin:hover::before {
    height: 180%;
}

.create:hover::before {
    height: 0%;
}
.navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
    padding:3px;
    margin:3px;
    margin-right:5px;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    cursor: pointer;
    color: #4B2142 !important;

    -webkit-transition: 0.1s ease-in;
    -moz-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
}

.active {
    border-bottom: #770770;
}

.animated-icon2 span:nth-child(1) {
    top: 0;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
    top: 10px;
}

.animated-icon2 span:nth-child(4) {
    top: 20px;
}

.animated-icon2.open span:nth-child(1) {
    top: 11px;
    width: 0;
    left: 50%;
}

.animated-icon2 span {
    background: #000000;
}

.animated-icon2.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
    top: 11px;
    width: 0;
    left: 50%;
}

.animated-icon2 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.animated-icon2 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}
.tops{
    background-color:white;
}
